html, body {
    height:100%;
    margin:0;
}

.wrapper {
    min-height:100%;
    margin-bottom:-50px;
}

body {
    height:960px;
    margin:0px;
    padding:0px;
    color:#777777;
    font-family:Arial, Helvetica, sans-serif;
    background-image:url("../images/woven_@2X.png");
}

h1 {
    float: left;
    background-color:#4aaaa5;
    width: 275px;
    height: 102px;
    margin:0px;
    padding:0px;
    left:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-weight:bold;
    text-align:center;
    line-height: 100px;
}

.main-header-content {
    margin:0 auto;
    width:70%;
}
header {
    height:100px;
    background-color:#ffffff;
    border-bottom: 2px solid #cccccc;
}
ul {
    margin-top: 30px;
}

ul li {
    list-style-type:none;
}

a {
    color:#777777;
    text-decoration: none;
}

#right-nav {
    float:right;
}

#right-nav li {
    display:inline-block;
    margin: 10px;
}

h2 {
    color:#4aaaa5;
    padding-left:40px;
    padding-top:25px;  
    font-family:Georgia, 'Times New Roman', Times, serif; 
}
#line {
    border: 0.50px solid #777777;
    margin-left:40px;
    margin-right:40px;
}
#content {
    width:70%;
    height: 50%;
    margin:0 auto;
    background-color:#ffffff;
}

#mypicture {
    float:left;
    margin-right:40px;

}

#mypicture img {
    height:200px;
    width:150px;
    border:3px solid #dddddd;
}

.about {
    margin-top:35px;
    margin-left:100px;
    margin-right:100px;
}

.footer, .push {
    height:50px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#666666;
  color: #ffffff;
  text-align: center;
  border-top:8px solid #4aaaa5;
}
